a {
    /*colour change on hover*/
    color: rgb(13, 69, 116);
    transition: all 0.3s linear;
}

a:hover {
    color: rgb(255, 102, 0);
}

.backgroundimage {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home {
    /*hello line*/
    color: rgb(107, 20, 9);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    bottom: -200px;
    left: 90px;
}

.sidebar {
    color: rgb(46, 11, 248);
    font: normal 700 15px/2px var(--lato);
    letter-spacing: 7px;
    top: -200px;
    left: 350px;
    text-decoration: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.sidebar {
    cursor: pointer;
    color: red;
}

.aboutme {
    color: rgb(7, 5, 90);
    font-size: 30px;
    position: relative;
    top: -10px;
    font-style: italic;
}

#jump {
    color: purple;
}

.acadamic {
    font-size: 20px;
}

table th {
    text-align: left;
    color: rgb(255, 72, 0);
    width: 100px;
    font-size: 40px;
    position: relative;
    padding: 4px 30px 4px 8px;
    border: 4px solid rgb(25, 0, 255);
}

table td {
    color: rgb(240, 56, 10);
    width: 100px;
    font-size: 40px;
    position: relative;
    padding: 4px 8px;
    border: 4px solid rgb(38, 0, 255);
}

#jump3 {
    color: brown;
    font-size: 35px;
    position: relative;
    top: -480px;
    left: 500px;
}

.fa-twitter {
    position: relative;
    left: 450px;
    font-size: 40px;
    color: #00ACEE;
}

.fa-linkedin {
    position: relative;
    left: 550px;
    font-size: 40px;
    color: #00ACEE;
}

.fa-facebook {
    position: relative;
    left: 650px;
    font-size: 40px;
    color: #00ACEE;
}

.fa-instagram {
    position: relative;
    left: 750px;
    font-size: 40px;
    color: rgb(158, 8, 96);
}

.fa-instagram:hover {
    cursor: pointer;
    color: red;
}

.fa-facebook:hover {
    cursor: pointer;
    color: red;
}

.fa-linkedin:hover {
    cursor: pointer;
    color: red;
}

.fa-twitter:hover {
    cursor: pointer;
    color: red;
}

.photo {
    /*my photo on home page*/
    position: relative;
    clip-path: circle();
    width: 250px;
    left: 1000px;
    bottom: 90px;
}

.img1 {
    position: relative;
    left: 900px;
    bottom: -200px;
    width: 400px;
    height: 400px;
}

.last {
    position: relative;
    top: -400px;
    font-size: 40px;
    color: purple;
}

#strength {
    left: 500px;
    position: relative;
    top: -400px;
    font-size: 40px;
    color: red;
}

.point {
    position: relative;
    font-size: 30px;
    top: -280px;
    color: rgb(204, 14, 87);
}

.img2 {
    position: relative;
    left: 900px;
    bottom: -200px;
    width: 400px;
    height: 400px;
}

#jump4 {
    position: relative;
    left: 500px;
    color: rgba(223, 6, 158, 0.74);
    font-size: 40px;
}